body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

#ativar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

.raindrop {
  position: absolute;
  top: 0;
  width: 2px;
  height: 10px;
  background-color: #072fe0;
  animation: raindrop 2s linear infinite;
}

@keyframes raindrop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(100vh);
  }
}
