body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    position: relative;
  }
  
  #sky {
    width: 200px;
    height: 200px;
    background-image: url('sun.png');
    background-size: cover;
  }
  
  .night {
    background-image: url('moon.png');
  }
  