@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* .day #sun {
  display: block;
}

.day #moon {
  display: block;
  background-color: red;
  width: 100%;
} */

#sky {
  width: 100%;
  height: 100vh;
  background-color: #87CEEB; /* Daytime sky color */
  transition: background-color 2s ease;
}

#sun {
  width: 250px;
  height: 250px;
  background-color: #FFD700; /* Sun color */
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0%);
  transition: transform 2s ease;
}

#moon {
  display: block;
  width: 250px;
  height: 250px;
  background-color: #222; /* Moon color */
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, 100%);
  transition: transform 2s ease;
  transition: opacity 2s ease;
}

#cloud1 {
  width: 200px;
  top: 80%;
  left: 50%;
}

#cloud2 {
  width: 300px;
  top: 60%;
  left: 110%;
}

#cloud3 {
  width: 260px;
  top: 5%;
  left: 40%;
}

#cloud4 {
  width: 300px;
  top: 30%;
  left: 80%;
}

#cloud5 {
  width: 250px;
  top: 50%;
  left: 20%;
}

#cloud6 {
  width: 270px;
  top: 77%;
  left: 80%;
}

#cloud7 {
  width: 300px;
  top: 80%;
  left: 10%;
}

#cloud8 {
  width: 340px;
  top: 20%;
  left: 0%;

}

.cloud {
  position: absolute;
  border-radius: 50px;
  opacity: 0.7;
  height: 100px;
  z-index: 500;
  background-color: #fff;
  animation: moveCloud 100s linear infinite;
}

@keyframes moveCloud {
  0% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-200%);
  }
}


.rain-legend {
  font-size: 2em;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  z-index: 2000;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: transparent;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

#container {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: 2000;
}

.fadeIn {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* scale: 0.1; */
  }
  100% {
    opacity: 1;
    /* scale: 1; */
  }
}

h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  min-width: 200px;
}

h2 .response {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);
}

#data-container {
  color: #000;
}

#weather {
  display: flex;
  gap: 2em;
  margin-top: 7em;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

#button {
  height: 50px;
  margin-left: .3em;
  padding: 0 2em;
  border: none;
  border-radius: 50px;
  background-color: #FFD700;
  color: #fff;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
}

.location-content {
  display: flex;
  gap: 1em;
  text-align: center;
  justify-content: center;
  width: 100%;
}


/* chuva */

#rainBtn {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2000;
}

#dayBtn {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2000;
}

#active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
  z-index: 1000;
  opacity: 0;
}

.raindrop {
  z-index: 1000;
  position: absolute;
  top: 0;
  width: 2px;
  height: 10px;
  background-color: #072fe0;
  animation: raindrop 2s linear infinite;
}

@keyframes raindrop {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(100vh);
  }
}